//Calculation of Sun trajectory parameters
@import "trigonometry";
@import "init_vbles";

$width: 52.916665;
$height: 52.91667;

$h_sky: 34.26354;
$h_pyram: 16.6278;
$d_sp: ($h_sky - $h_pyram)/2;
$d_sun: map-get($path_sun, cx);

$A: pow($d_sp, 2) + 2 * $d_sp * $h_pyram + pow($h_pyram, 2);
$d_c: (pow($width / 2 + $d_sun, 2) - $A)/2/($d_sp + $h_pyram);

$r_sun: $d_sp + $h_pyram + $d_c;
$cy_sun: $r_sun;
$cx_sun: $width/2;