//Calculation of Sun trajectory parameters
@import "trigonometry";

$d: 52.916665/2 - map-get($path_sun, cx);
$h: 34.26354 - 17.636/2;
$r: ($d*$d + $h*$h)/2/$h;
$m: $r - 52.916665/2;

@keyframes sun_move {
  $theta:0;
  $perc: 0;
  @while $theta <= 360 {
    $x: $r * cos($theta);
    $y: $r * sin($theta) - $m;
    #{$perc}% {
      cx: $x + 52.916665/2;
      cy: $y + 50;
    }
    $theta: $theta + 9;
    $perc: $perc + 1/(360/9)*100;
  }
}

.sun{
  animation: sun_move 7s infinite linear;
}