body {
    margin: 0;
    padding: 0;
  }
  
  .frame {
    background-color: #272C34;
    width: 400px;
    height: 400px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blue;
    z-index: 10;
  }