// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300); // use only the available space inside the 400x400 frame

body {
  margin: 0;
  padding: 0;
}

.frame {
  background-color: #437C90;
  display: flex;
  width: 400px;
  height: 400px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  align-content: center;
}

.center {
  display: flex;
  align-items: center;
  align-content: center;
}
