// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300); // use only the available space inside the 400x400 frame

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes dissapear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}

body {
  margin: 0;
  padding: 0;
}

.frame {
  background-color: #437C90;
  width: 400px;
  height: 400px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include flex-center;
}

.center {
  @include flex-center;
}

.icon-cont{
  width: 100px;
  height: 100px;
}

.icon-line{
  stroke: #EEEBD3;
  stroke-linecap: round;
}

.anchor{
  height: 100px;
}

.dissapear-on-click{
    animation-duration: 1s;
    animation-name: dissapear;
}

.moveup-on-click{
    animation-duration: 750ms;
    animation-name: move-up;
}
