$bg-1: #433BA0;
$bg-2: #4DC3C9;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43389F', endColorstr='#4ec6ca',GradientType=1 ); 
  font-family: 'Courier New', 'Courier', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(45deg, $bg-1 0%, $bg-2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  .numbers {
    height: 100px;

    .one {
      display: inline-block;
      height: 100%;
      width: 25px;
      position: relative;
      left: 30px;
      z-index: 10;

      .leg {
        display: inline-block;
        content: '';
        background: white;
        width: 25px;
        height: 40px;
        display: block;
        border-radius: 4px;
        transform-origin: 0 0;
        transform: translateX(3px) rotate(50deg);
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
        z-index: -1;
        position: absolute;
      }

      .stick {
        display: inline-block;
        background: white;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
        z-index: 1;
        border-radius: 4px;
      }
    }

    .zero {
      display: inline-block;
      width: 100px;
      height: 100%;
      border: 25px solid white;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
      z-index: 0;

      &.middle {
        position: relative;
        left: 20px;
      }
    }
  }

  .title {
    display: block;
    font-family: "Courier New", "Courier", sans-serif;
    color: white;
    font-weight: 700;
    line-height: 1;

    .large {
      display: block;
      font-size: 82px;
      line-height: 0.7;
    }

    .small {
      display: block;
      font-size: 23px;
      text-align: justify;
      text-justify: inter-word;
      letter-spacing: 1px;
    }
  }
}
